# Tenant Configuration

VITE_TENANT_SUBDOMAIN=
VITE_TENANT_ID=
VITE_REQUIRE_TENANT_ID=false

# Gemini API (used in geminiService.ts)
VITE_GEMINI_API_KEY=

# Encryption
# Auth Mode: 'ENCRYPTION' (AES) or 'HASH' (Bcrypt)
VITE_AUTH_MODE=HASH
VITE_APP_SECRET=your_secure_random_string_here
VITE_BCRYPT_SALT_ROUNDS=10
